/* ReviewCard */
.ReviewCardContainer {
  background: white;
  width: 325px;
  height: 275px;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  row-gap: 8px;
}

.ReviewCardContainer > #content {
  overflow-y: scroll;
  font-size: 1.1em;
  color: #696969;
}

.ReviewCardContainer > #footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1em;
}

.ReviewCardContainer > #footer > #footer-date {
  color: #A9A9A9;
}