/* NavBar */

.NavBarContainer {
  background: #3357b3;
  color: white;
  padding: 1rem 6rem;
  vertical-align: middle;
}

.NavBarContainer > a {
  text-decoration: none;
  color: white;
}

/* MainContent */

.MainContent {
  margin-top: 2.5rem;
  padding: 0 6rem;
}