/* NavBar */

.NavBarContainer {
  background: #3357b3;
  color: white;
  padding-left: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  vertical-align: middle;
}

.NavBarContainer > a {
  text-decoration: none;
  color: white;
}

/* MainContent */
.MainContent {
  padding-left: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}