/* NavBar */

.NavBarContainer {
  background: #3357b3;
  color: white;
  padding: 1rem 6rem;
  vertical-align: middle;
  list-style-type: none;
}

.NavBarContainer #nav-bar-link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}

/* MainContent */

.MainContent {
  margin-top: 2.5rem;
  padding: 0 6rem;
}

@media only screen and (max-width: 1220px) {
  .MainContent {
    margin-top: 2.5rem;
    padding: 0 2rem;
  }

  .NavBarContainer {
    padding: 1rem 2rem;
  }
}