.ResponseCardContainer {
  padding: 1rem 2rem;
  display: flex;
  background: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.ResponseCardContainer #left-side-bar {
  padding-right: 2rem;
}

.ResponseCardContainer #left-side-bar #back-button:hover {
  cursor: pointer;
}

.ResponseCardContainer #content {
  flex: 1;
}

.ResponseCardContainer #content #message {
  vertical-align: text-top;
  color: #696969;
}

.ResponseCardContainer #main-content {
  display: flex;
  justify-content: space-between;
}

.ResponseCardContainer #footer {
  margin-top: 1.5em;
  display: flex;
  font-size: 0.8em;
}

.ResponseCardContainer #footer #date {
 margin-left: 2.5rem;
 color: #A9A9A9;
}